// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index{
  line-height: 18px;
  margin: 33px;
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
}


th{
  padding-bottom: 5px;
}

td{
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;

}


.section{
  display: block;
}

h2{
  line-height: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.show{
  line-height: 18px;
  margin: 33px;
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.input-title,
.input-body,
.area
{
  margin-bottom: 10px;
}

p,ul,td {
    font-family: verdana,helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}


.link-book{
  color: #000;
}

.edit,{
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h1{
  margin-bottom: 16px;
}

.input-edit{
   display: block;
   margin: 0;
}

.link-book:hover {
    color: #fff;
    background-color: #000
}

.link-show{
  color: #666;
  font-size: 13px;
}

.flash{
  color: green;
}

label{
  display: block;
}
