// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top{
  margin: 33px;
  font-size: 13px;
  color: #333;
  line-height: 18px;
  font-family: verdana;
}

.top-title{
    line-height: 18px;
}

p{
  line-height: 18px;
  margin: 33px;
  font-size: 13px;
}

.link{
  color: #666;
  margin: 33px;

}

.link:hover {
    color: #fff;
    background-color: #000
}